@media only screen and (max-width: 768px) {
    .container .grid .row {
        flex-direction: column;
        align-items: center;
    }    

    .container .grid img {
        width: 70%;
    }
    
    #lightbox.active img{
        width: 100%;
    }

}