@media only screen and (max-width: 768px) {
    .main {
        align-items: start;
        margin: 20px 0 0;
    }

    .container .grid{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }    

    .container .grid img {
        width: 70%;
    }
    
    #lightbox.active img{
        width: 100%;
    }

}